body {
    background-color: #FFF2D8
} 
#navbar {
    background-color: black;
}
.nav-link {
    background-color: black;
    color: white
}
.active {
    background-color: #BCA37F
}
#hero {
    background-color: #113946
}
#mainpages {
    background-color: #FFF2D8;   
}
.mainimages {
    height: 250px;
}
#contactme {
    background-color: #BCA37F;
    bottom: 0;
    color: #113946;
}

a:link {
    text-decoration: none;
}



