body {
  background-color: #fff2d8;
}
#navbar {
  background-color: black;
}
.nav-link {
  background-color: black;
  color: white;
}
.active {
  background-color: #bca37f;
  border-radius: 0.375rem;
}
#hero {
  background-color: #113946;
}
#main-pages {
  background-color: #fff2d8;
}
#blog-content {
  background-color: beige;
  color: black;
  padding: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#blog-title {
  text-align: center;
  color: brown;
  padding: 30px;
}
h2{
  padding: 20px 0px;
}

/* @media (min-width: 1401px) {
  .main-images {
    height: 275px;
  }
}
@media (min-width: 991px) and (max-width: 1400px) {
  .main-images {
    height: 225px;
  }
}

@media (min-width: 576px) and (max-width: 990px) {
  .main-images {
    height: 175px;
  }
} */

/* @media (min-width: 301px) and (max-width: 575px) {
  .main-images {
    height: 175px;
        /* 
        height: 200px;
        align-self: center;
        min-width: 235px;
        max-width: 500px; 
        */
/* }
} 
*/

.main-images {
  @media (min-width: 1401px) {
    height: 275px;
  }

  @media (max-width: 1400px) {
    height: 225px;
  }

  @media (max-width: 990px) {
    height: 175px;
  }
  @media (max-width: 575px) {
    height: 175px;
  }
}
#contact-me {
  background-color: #bca37f;
  color: #113946;
}

a:link {
  text-decoration: none;
}
.image-attribution {
  color: #113946;
  text-align: center;
}
.hero-attribution {
  text-align: center;
}
